*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lexend", sans-serif;
}

body {
    min-height: 100vh;
    background: url('file:///C:/Users/16616/Downloads/LV2.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}

/* nav bar*/
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 15%;
    padding: 20px 40px;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 30;

}
.header::after{
    content: '';
    border-top: solid black 4px;
    width: 100%;
    height: 10px;
    position: absolute;
    bottom: -12px;   
    left:0;
}

.Hilton {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 32px;
    color: black;
    text-decoration: none;
    font-weight: 700;
}

.navbar a {
    position: relative;
    font-size: 25px;
    color: black;
    font-weight: 700px;
    text-decoration: none;
    margin-left: 50px;
    margin-right: 0px;
    top: 30px;
}
.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: black;
    transition: .3s;
}

.navbar a:hover::before {
  width: 100%;

}

/*join button*/
.join{
    position: absolute;
    top:15%;
    right: 10%;
    height:21%;
    width:5%;
    color: rgb(0, 0, 0);
    font-size: 15px;
    border-radius: 5px;
    background-color: white;
    border-color: black;
    border-width: 3px;
    
}

/*login button*/
.login{
    position: absolute;
    top:15%;
    right: 3%;
    height:20%;
    width:5%;
    color: white;
    font-size: 15px;
    border: 5px;
    border-radius: 5px;
    background-color: black;
    
}


/*welcoming section*/
.hotle-img{
    position: relative;
    width: 100%;
    height: 750px;
    left: 0;
}

h1{
    position: absolute;
    font-size: 50px;
    font-weight: 20px;
    background-color: rgba(255, 255, 255, 0.477);
    bottom: 150px;
    left:90px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
}

.welcome{
    position: absolute;
}


/* phone.address, hours*/
.phone{
    position: absolute;
    padding: 20px 200px 20px 150px;
    font-size: 15px;
    color: rgb(0, 0, 0);

}

.address{
    position: absolute;
    padding: 20px 200px 20px 150px;
    font-size: 15px;
    left: 25%;
    bottom: 25px;
    color: rgb(0, 0, 0);

}

.hours{
    position: absolute;
    padding: 20px 200px 20px 150px;
    font-size: 15px;
    left: 60%;
    bottom: 45px;
    color: rgb(0, 0, 0);
}

.info{
    position: absolute;
    top:95%;
    background-color: rgb(252, 228, 157);
    width: 100%;
    height: 130px; 

}

p{
    position: absolute;
    margin-top: 11%;
    padding: 40px 40px;
    font-size: 25px;
    left:2.1%;
}
 

/*facilites*/
.facilites h3{
    position: absolute;
    font-size: 300%;
    margin-left: 5%;
    top: 132%;
}

.dining-area{
    position: absolute;
    top: 140%;
    margin-left: 5%;
    size: 20px;

    border: solid black 3px; 
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 14%;
    height: 40%;
    background-color: white;
}
/*
.dining-area #blur.active {
    filter: blur(20px);
}

#popup{
    position: relative;
    top:40%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 600px;
    padding: 50px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, .30);
    background: white;
    visibility: hidden;
    opacity: 0;
    transition: 0.5%;
}

#popup.active{
    top: 40%;
    visibility: visible;
    opacity: 1;
    transition: 0.5%;
}
*/

.din-img{
    position: relative;
    width: 100%;
    height:85%;
}

.dining{
    font-size: large;
    text-align: center;

}

.spa-area{
    position: absolute;
    top: 139.8%;
    margin-left: 20%;
    size: 20px;

    border: solid black 3px; 
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 14%;
    height: 40%;
    background-color: white;
}

.spa-img{
    position: relative;
    width: 100%;
    height:85%;
   
}

.spa{
    font-size: large;
    text-align: center;
}

.thearpy-area{
    position: absolute;
    top: 139.8%;
    margin-left: 35.2%;
    size: 20px;

    border: solid black 3px; 
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 14%;
    height: 40%;
    background-color: white;
}

.thearpy-img{
    position: relative;
    width: 100%;
    height:85%;
    
   
}

.thearpy{
    font-size: large;
    text-align: center;
}

.pool-area{
    position: absolute;
    top: 139.8%;
    margin-left: 50.7%;
    size: 20px;

    border: solid black 3px; 
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 14%;
    height: 40%;
    background-color: white;
}
.pool-img{
    position: relative;
    width: 100%;
    height:85%;
    
   
}

.pool{
    font-size: large;
    text-align: center;
}

.bar-area{
    position: absolute;
    top: 139.8%;
    margin-left: 66.3%;
    size: 20px;

    border: solid black 3px; 
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 14%;
    height: 40%;
    background-color: white;
}
.bar-img{
    position: relative;
    width: 100%;
    height:85%;
    
   
}

.bar{
    font-size: large;
    text-align: center;
}

.gym-area{
    position: absolute;
    top: 139.8%;
    margin-left: 82%;
    size: 20px;

    border: solid black 3px; 
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 14%;
    height: 40%;
    background-color: white;
}
.gym-img{
    position: relative;
    width: 100%;
    height:85%;
    
   
}

.gym{
    font-size: large;
    text-align: center;
}

/*ROOMS*/
.rooms{
    position: absolute;
    width: 100%;
    height: 57%;
    background-color: rgb(252, 228, 157);
    top: 190%;
}

.rooms h3{
    position: absolute;
    font-size: 300%;
    margin-left: 5%;
    top: -7%;
}

.rooms p{
    position: absolute;
    bottom: 78%;
    padding: 40px 40px;
    font-size: 25px;
    left: 2.5%;
}

/*standard room*/
.standard-area{
    position: absolute;
    top: 20%;
    margin-left: 5%;
    border: solid black 5px; 
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 21%;
    height: 65%;
    background-color: white;
    
}

.standard-img{
    position: relative;
    width: 100%;
    height: 80%;
    
}

.standard-area p{
    position: relative;
    bottom: 70px;
    
    font-size: x-large;
    font-weight: bold;
    text-align: center;

}

/*deluxe room*/
.deluxe-area{
    position: absolute;
    top: 20%;
    left: 28%;
    border: solid black 5px; 
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 21%;
    height: 65%;
    background-color: white;
    
}

.deluxe-img{
    position: relative;
    width: 100%;
    height: 80%;
    
}

.deluxe-area p{
    position: relative;
    bottom: 70px;
    
    font-size: x-large;
    font-weight: bold;
    text-align: center;

}

/*accessible room*/
.accessible-area{
    position: absolute;
    top: 20%;
    left: 51%;
    border: solid black 5px; 
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 21%;
    height: 65%;
    background-color: white;
    
}

.accessible-img{
    position: relative;
    width: 100%;
    height: 80%;
    
}

.accessible-area p{
    position: relative;
    bottom: 70px;
    
    font-size: x-large;
    font-weight: bold;
    text-align: center;

}

/*suite room*/
.suite-area{
    position: absolute;
    top: 20%;
    left: 74%;
    border: solid black 5px; 
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 21%;
    height: 65%;
    background-color: white;
    
}

.suite-img{
    position: relative;
    width: 100%;
    height: 80%;
    
}

.suite-area p{
    position: relative;
    bottom: 70px;
    
    font-size: x-large;
    font-weight: bold;
    text-align: center;

}

/*room button*/
.room-view{
    position: absolute;
    font-size: 25px;
    color: white; 
    background-color: black;
    width:20%; 
    height:12%; 
    font-weight: bold; 
    top: 94%;
    left: 37%;
}

/*POLICIES*/
.policy-area{
    position: absolute;
    width: 95%;
    margin-left: 5%;
}

.policy-area h3{
    position: absolute;
    font-size: 300%;
    margin-left: 0;
    margin-top: 95%;
}


.policy-area p{
    position: absolute;
    font-size: 25px;
    left: -2.8%;
    margin-top: 97%;
}

/*parking*/
.parking-area{
    position: absolute;
    margin-top: 122%;
    margin-left: 5%;
}

.parking-img{
    position: absolute;
    bottom: 120px;
    height: 150px;
    left:45px;

    
}

.parking-area p{
    position: absolute;
    bottom: 30px;
    left: 3px;
    font-weight: bold;
    font-size: 35px;

}

/*somking*/
.smoking-area{
    position: absolute;
    margin-top: 122%;
    margin-left: 25%;
}

.smoking-img{
    position: absolute;
    bottom: 120px;
    height: 140px;
    left:45px;

    
}

.smoking-area p{
    position: absolute;
    bottom: 30px;
    left: 2.8px;
    font-weight: bold;
    font-size: 35px;

}

/*refund*/
.refund-area{
    position: absolute;
    margin-top: 122%;
    margin-left: 45%;
}

.refund-img{
    position: absolute;
    bottom: 120px;
    height: 141px;
    left:45px;

    
}

.refund-area p{
    position: absolute;
    bottom: 30px;
    left: 17px;
    font-weight: bold;
    font-size: 35px;
}

/*pay*/
.pay-area{
    position: absolute;
    margin-top: 122%;
    margin-left: 65%;
}

.pay-img{
    position: absolute;
    bottom: 120px;
    height: 140px;
    left:45px;
    
}

.pay-area p{
    position: absolute;
    bottom: 30px;
    left: 2.8px;
    font-weight: bold;
    font-size: 35px;
}


.policy-button{
    position: relative;
    font-size: 26px;
    color: rgb(255, 255, 255); 
    background-color: rgb(0, 0, 0);
    width:20%; 
    height:16%; 
    font-weight: bold; 
    top: 1630px;
    left: 34%;
}

/*bottom of page */
.bottom-page{
    position: absolute;
    background-color: black;
    top: 310%;
    height: 30%;
    width: 100%;
}

.contact h2{
    position: absolute;
    font-size: 25px;
    color: rgb(255, 255, 255);
    font-weight: 5px;
    top: 13%;
    left:5%;
    line-height: 1.8;
}

.contact p{
    position: absolute;
    font-size: medium;
    color: rgb(255, 255, 255);
    font-weight: 5px;
    bottom: -1%;
    left:2%;
    line-height: 1.8;
}

.vert-line{
    position: absolute;
    border-left: 4px solid rgb(255, 255, 255);
    height: 180px;
    bottom: 10%;
    left:22%;
}


.social{
    position: absolute;
    bottom: 72%; 
    left: 27%;
    width: 30%

}

.social h2{
    position: absolute;
    font-size: 25px;
    color: rgb(255, 255, 255);
    font-weight: 5px;
    bottom: 72%;
    left: 0%;
    text-align: left;

}

.instagram{
    position: absolute;
    left:-10%;
    bottom: 30px;
}
.twitter{
    position: absolute;
    left: 5%;
    bottom: 30px;
}

.facebook{
    position: absolute;
    left: 20%;
    bottom: 30px;
}




