header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px; 
  }
  
  nav .logo a {
    font-family: 'Playfair Display', serif; 
    font-size: 24px; 
    color: white; 
    text-decoration: none; 
  }
  
  nav ul {
    display: flex; 
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    margin-right: 20px; 
  }
  
  h4{
    font-family: cursive;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-weight: 100;
    font-stretch: ultra-condensed;
  
  }
  
  body {
    background: #f0f0f0;
    font-family: playfair display;
  }
  
  header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
  }
  
  main {
    width: 80%;
    margin: 20px auto;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  input[type="text"], input[type="date"], select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #5cb85c;
    color: white;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  button:hover {
    background-color: #4cae4c;
  }
  
  footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: white;
  }