body {
    text-align: center;
}
#enterUserDetails, #findDetails {
    float: left;
    width: 50%;
}
#enterUserDetails {
    background-color: darkslategrey;
    color: floralwhite;
}
#findDetails {
    background-color: rgb(159, 116, 192);
    color: rgb(79, 47, 47);
}
input {
    width: 120px;
}
.inputData, #authForm, #enterUserDetails, #findDetails {
    margin-bottom: 10px;
}
.book, #enterUserDetails, #findDetails {
    margin-top: 20px;
}