body { 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("https://wallpapers.com/images/hd/hotel-background-sdr508awonqxixqe.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.top-icons {
    text-align: right;
}

.exit-btn {
    font-size: 24px;
    color: #333;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
}

.exit-btn:hover {
    color: #f00;
}

.account-info h2 {
    font-size: 24px;
    color: #333;
}

.account-info ul {
    list-style-type: none;
    padding: 0;
}

.account-info li {
    margin-bottom: 10px;
}

h3 {
    font-size: 20px;
    margin-top: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input {
    padding: 10px;
    font-size: 16px;
    color: black;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

form button[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #7cad72;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button[type="submit"]:hover {
    background-color: #7cad72;
}

.delete-btn {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: black;
}
